.card {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.card__title {
  max-width: 353px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  top: 425px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  opacity: 0.4;
  border: none;
  width: 23px;
  height: 20px;
  border-width: 2px;
  padding: 0;
  background-color: transparent;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    width: 288px;
    height: 18px;
    justify-content: space-between;
  }
}
