.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
}

.profile__avatar-btn {
  position: absolute;
  width: 190px;
  height: 190px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
}

/* .profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
} */

.profile__avatar-btn::after {
  content: "Edit Avatar";
  position: relative;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 88px;
  height: 16px;
  opacity: 1;
  color: #ffffff;
  margin-bottom: 10px;
  visibility: visible;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin: 0 0 12px;
  border-radius: 8px;
  cursor: pointer;
}

.profile__name,
.profile__description {
  font-weight: 500;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #212121;
}

.profile__name {
  font-size: 32px;
  max-width: 420px;
  margin: 0 12px 12px;
}

.profile__description {
  font-size: 16px;
  max-width: 420px;
  opacity: 0.7;
  margin: 0 12px 0;
}

.profile__pencil-icon {
  margin-bottom: 10px;
  visibility: visible;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin: 0 12px 12px;
}

.profile__edit-btn {
  margin-top: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #212121;
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  gap: 10px;
  opacity: 0.7;
  cursor: pointer;
  margin-right: 12px;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  margin-left: auto;
  font-size: 16px;
  line-height: 1;
  background-color: #212121;
  padding: 18px 32px;
  color: #fcf5e5;
  width: 157px;
  height: 52px;
  border-radius: 8px;
  margin-top: 140px;
  border: none;
  align-items: center;
  gap: 10px;
}

.profile__add-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar,
  .profile__avatar-btn {
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }

  /* .profile__avatar-btn {
    visibility: visible;
  } */

  .profile__avatar-btn::after {
    content: "";
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    width: 100%;
    margin: 0;
    justify-content: center;
  }

  .profile__edit-btn {
    align-self: center;
  }
}
